{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu panel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<script>
    // Add a node
    function add_item(parent_id) {
        $('#dialog').dialog({
            modal: true,
            buttons: {
                'OK': function () {
                    var name = $('input[name="name"]').val();
                    var price = $('input[name="price"]').val();
                    storeData(name, price);
                    $("#dialog").dialog('close');
                },
                    'Cancel': function () {
                    $("#dialog").dialog('close');
                }
            }
       });

        function storeData(name, price) {
            data = {parent: parent_id, name: name};
            if(price != ""){
                data.price = price;
            }
            $.post("/api/v1/menu",
                JSON.stringify(data),
                function (data) { location.reload()},
                "json");
        };
    }

    // delete a node
    function delete_item(id){
        if(id === 1) { alert("No deleting the root"); return}
        $.ajax({
                url: "/api/v1/menu",
                data: JSON.stringify({id:id}),
                dataType: "json",
                type: "DELETE",
                success: function(data) { location.reload()}
            });
    }

    // update a node
    function update_item(id, name, price){

        $.ajax({
                url: "/api/v1/menu",
                data: JSON.stringify({id:id, name:name, price:price}),
                dataType: "json",
                type: "PUT",
                success: function(data) { location.reload()}
            });
    }

    // Get the menu nodes
    function fetch_menu() {
        $.get("/api/v1/menu", function(data){
            console.log(data);

            // Clear out the div
            $("#menu").remove()

           /*
           This would be some recursive function to look at the
           data object and create a new <ul><li></li></ul> section when it
           sees the next element in data has a parent_id that matches it's
           own id.

           This will re-draw the menu in an async manner.
            */
        });
    }
</script>

<h1>The Menu</h1>
<div id="menu">
<ul>
    {% recursetree menu %}
    <li id="menu-{{ node.id }}">{{ node.name }} ({{ node.children.count }})&nbsp;&nbsp;<a href="javascript:delete_item({{ node.id }});">X</a>&nbsp;<a href="javascript:add_item({{ node.id }})">+</a> {{ node.price }}</li>
        {% if not node.is_leaf_node %}
            <ul>{{ children }}</ul>
        {% endif %}
    {% endrecursetree %}
</ul>
</div>

<div style="visibility: hidden">
<div id="dialog" title="Basic dialog">
     <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
      <label for="price">Price (optional)</label>
      <input type="text" name="price" id="price" value="" class="text ui-widget-content ui-corner-all">
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
</div>
</body>
</html>